In [7]:
import pandas as pd
import numpy as np
import os
import random
import json

In [6]:
def view_random_example(data):
    ex = data.iloc[random.randint(0, len(data))]
    view_example(ex)
    
def view_example(ex):
    print(json.dumps(json.loads(ex.to_json()), indent=4))

In [54]:
data = pd.read_csv('../adversarial_glue_data/RTE/shuffle_sent2/dev.tsv', delimiter='\t', header=None)

In [55]:
data.head()

,0,1,2,3
0,index,sentence1,sentence2,label
1,0,"Dana Reeve, the widow of the actor Christopher...",had an Reeve accident. Christopher,not_entailment
2,1,"Yet, we now are discovering that antibiotics a...",antibiotics. winning is Bacteria the war against,entailment
3,2,Cairo is now home to some 15 million people - ...,15 in Cairo. produced tonnes are rubbish milli...,not_entailment
4,3,"The Amish community in Pennsylvania, which num...",the Amish Pennsylvania biggest has community t...,not_entailment

In [57]:
view_random_example(data)

{
    "0": "221",
    "1": "Two Indian diplomats met the Indian prisoner facing death in Pakistan, Sarabjit Singh, on Tuesday at Kot Lakhpat jail in the eastern Pakistani city of Lahore.",
    "2": "on prisoner, Indian diplomats on row, Tuesday. death met an Indian",
    "3": "entailment"
}

In [59]:
view_example(pd.read_csv('../glue_data/RTE/dev.tsv', delimiter='\t', header=None).iloc[222])

{
    "0": "221",
    "1": "Two Indian diplomats met the Indian prisoner facing death in Pakistan, Sarabjit Singh, on Tuesday at Kot Lakhpat jail in the eastern Pakistani city of Lahore.",
    "2": "Indian diplomats met an Indian prisoner, on death row, on Tuesday.",
    "3": "entailment"
}